.banner1{
    background-image: url(../img/fondo-banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }
.carousel-item{
    height: 500px;
}
.carousel-caption{
    text-align: left;
    max-width: 600px;
    bottom: 20%;
}
.carousel-caption h2{
    font-size: 4rem;
    color: #8C654B;
}

.titulo-seccion h3{
    font-size: 25px;
    color: #797979;
    font-weight: 700;
    margin-top: 20px;
    text-transform: uppercase;
}


#productosDestacados {
  margin: 50px auto;
  text-align: center;
}
#productosDestacados h3{
    font-size: 25px;
    color: #797979;
    font-weight: 700;
    margin-top: 20px;
}
.categorias a{
    text-decoration: none;
}
.categorias h2{
    font-family: 'Charm', cursive;
    font-size: 30px;
    color: #9e864c;
    margin-top: 15px;
}
.categorias img{
    padding: 10px 40px;
    max-width: 70%;
}
.pasta-familiar{
    background-image: url(../img/pasta-familiar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: 350px;
    border-bottom: 6px solid #D1A158;
    border-top: 6px solid #D1A158;
    display: flex;
    align-items: center;
  justify-content: center;
}
.cuadro-borde{
    border: 3px solid #B81517;
    padding: 10px;
}

.pasta-familiar p{
    font-family: 'Charm', cursive;
    font-size: 50px;
    color: #8C654B;
    background-color: #fff;
    padding: 10px 30px;
    margin: 0;
}



.fondo{
  width: 50vw;
  height: 25vh;
 position: relative;
  display: block;
  left: 10%;
  right: 0;
  top: 15%;
  text-align: center;
}

.container .ir-arriba{
  display:none;
  background-repeat:no-repeat;
  font-size:20px;
  color: #597aa6!important;
  cursor:pointer;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:2;
}
.container-fluid .ir-arriba{
  display:none;
  background-repeat:no-repeat;
  font-size:20px;
  color: #597aa6!important;
  cursor:pointer;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:2;
}
.cantidad{
width:10%;
}
.productoPromo{
width: 100%;
}
.slick-prev:before{
    font-size: 40px;
    line-height: 1;
    opacity: .75;
    color: #597aa6!important;
}
.slick-next:before{
    font-size: 40px;
    line-height: 1;
    opacity: .75;
    color: #597aa6!important;
}
.slick-prev, .slick-next {
font-size: 40px;
line-height: 1;
position: absolute;
top: 50%;
display: block;
width: 30px;
height: 30px;
padding: 0;
-webkit-transform: translate(0, -50%);
-ms-transform: translate(0, -50%);
transform: translate(0, -50%);
cursor: pointer;
color: blue;
border: none;
outline: none;
background: transparent;
}


.buscador{
width: 30%;
padding: 2px 2px 2px 2px;
display: none;    
}

.divisor{
  width: 100%;
  height: 100%;
}
.breadcrumb a{

color:#F7F1C4;

}
footer h5{
  color: #F7F1C4;
}

#inf{

  background-image: url('../img/bannerMiguePng.png');
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h2{
  font-size: 2rem;
}


    @media (min-width: 424px) {
      .elh1{
        color: white;
      margin: 0px 11px;
      padding-left: inherit;
      font-size: 34px;
      }
      .elh3MP{
        font-size: 26px;
        color: white;
      }
      #inf{
        height: 108px;
      }

    }
      @media (min-width: 767px) {
      #productosDestacados .verMas{
        display: block;
        }
        .elh1{
          color: white;
          margin: 0px 20px 10px 20px;
          font-size: 59px;
        }
        .elh3MP{
          color: white;
          padding-left: 45px;
          font-size: 45px;
        }
        #inf{
          height: 191px;
        }
}


#relativo {
  position: relative;

}

#enlace {
position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 10;
 transition: color 0.8s linear 0.2s;
}

.barra {
  background-color: #ECECEC;
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  margin-bottom: 0%;
  padding: 60px 0px 50px 0px;

}
.barra img{
  max-width: 40%;
}
.barra p{
  color: #333333;
}

.barra h5{
    font-weight: 700;
    margin-top: 20px;
}

.row-barra {
  margin-top: 0.5%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.texto1 {
  font-size: 1em;
  font-weight: bold;
  font-family: arial;
  margin: auto;
  margin-top: auto;
  margin-top: 3%;

}


.texto2 {
  font-size: 0.9em;
  font-family: sans-serif;
  font-weight: lighter;

}

.creditcard {
  width: 70%;
  margin-left: 22%;

}

.delivery {
  width: 77%;
  margin-left: 22%;

}

.location {
width: 84%;
margin-left: 26%;
border-radius: 100%;

}

.ok {
  width: 100%;
  margin-left: 20%;
  margin-top: -12%;

}

/* Seccion productos destacados */

/* .titYBtn{
  display: flex;

} */


.card-title{
  font-family: 'Montaga', serif;
}
.card-text{
  font-family: 'Montaga', serif;

  font-weight: 400;
}

.btn-secondary {
  text-transform: uppercase;
  font-weight: bolder;
  color: #cdaf67;
  background-color: #ffffff;
  border: 2px solid #cdaf67;
  margin-bottom: 50px;
}
.btn-secondary:hover {
    color: #ffffff;
    background-color: #cdaf67;
    border: 2px solid #cdaf67;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
  color: #ffffff;
  background-color: #cdaf67;
  border: 2px solid #cdaf67;
}
.breadcrumb{
  font-size: 2em;
  border: #007ECF;
  background-color:#007ECF;
  margin-top: 2%;
}
section {
  margin-top: 0px;
}
#productosDestacados hr {
  border: 1px solid #eee;
  margin: 5px 0 15px 0;
}
.producto {
  margin-bottom: 30px;
  position: relative;
}
.producto img{
  width: auto;
  height: auto;
}
#productosDestacados .container-productos .producto .fa-heart{
  font-size: 150%;
  color: red;
}
#productosDestacados .container-productos .producto .producto-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  display: none;

}
#productosDestacados .container-productos .producto .producto-hover:hover {
  opacity: 1;
}
#productosDestacados .container-productos .producto .producto-hover .producto-hover-content {
  position: absolute;
  width: 100%;
  height: 50px;
  font-size: 40px;
  text-align: center;
  top: 42%;
  margin-top: -12px;
  color: white;
  padding: 0 20px;
}
#productosDestacados .container-productos .producto .producto-hover .producto-hover-content a{
  text-decoration: none;
}
#productosDestacados .container-productos .producto .producto-hover .producto-hover-content h5 {
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 1px;
}

/* Seccion Quienes Somos */
  #sobreNosotros {
    display: flex;
    /* background-image: url('../img/backblue.jpg'); */
    /* background-image: url(../img/fondo-sobre-nosotros.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    background-color: white;
    padding: 5px 20px;
  }
  #sobreNosotros h3 {
    display: block;
    color: #000;
    padding: 10px 0;
    font-size: 2.5em;
  }
  #sobreNosotros p {

    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    padding: 5px 5px;
    font-weight: 500;
  }
  #sobreNosotros img {
    width: 7vw;
    height: auto;
    margin: 8px 26px;
  }

  .botonventaA{
    display: flex;
  }
  .celeste{
    display: flex;
    width: 47vw;  height:32vh;padding:5px 5px 5px 5px; margin:5px 5px 5px;
    /* background-image: url("/img/backblue.jpg"); */
    background-color: #5CA2EE;
    background-size: cover;
  }
  .info{
    display: flex;
   width: 20vw; height:22vh;padding:5px 5px 5px 5px; margin:5px 5px 5px; background-color: white;
  }
  .celesteA{
    display: flex;
    width: 47vw;  height:32vh;padding:5px 5px 5px 5px; margin:5px 5px 5px;
    /* background-image: url("/img/backRed.png"); */
    background-color: #5CA2EE;
    background-size: cover;
  }

  .infoA{
    display: flex;
   width: 20vw; height:22vh;padding:5px 5px 5px 5px; margin:5px 5px 5px; background-color: white;
  }
  #sobreNosotros2 {
    background-image: url(../img/calllesh.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    background-color: #eee;
    padding: 50px 15px;
  }
  #sobreNosotros2 h3 {
    color: #000;
    padding: 10px 0;
    font-size: 2.5em;
  }
  /* #sobreNosotros2 p {
    font-size: 1.2em;
    background-color: #e2efee;
    padding: 5px 3px 2px;
    margin: 1px 1px 1px 1px;
    width: 69%;
} */
  #sobreNosotros2 p {
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 20px 10px;
    font-weight: 500;
  }
  #sobreNosotros2 img {
    width: 50px;
    height: auto;
    margin: 30px auto;
  }

  .btnon {
             color: white;
             background-color: #597aa6;
             border-radius: 20px;
             border-color:cornflowerblue;
             width: 150px;
             align-items: center;
             margin:0% 0% 0% 45%;
             margin-top: 10px;
             line-height: 49px;

       }
.buscador2{
        display: block;
    }
.fondo-busca{
        background-color: #D1A158;
    }
.nav li a:hover, :active{
    color: #fff;
}





                                            /* MEDIAQUERIES */


@media (max-width:767px)
{
  .carousel-caption h2 {
    font-size: 3rem;
    }
    .pasta-familiar p {
    font-size: 30px;
}
.cuadro-borde {
    margin: 0px 40px;
}
    .nav li a:hover, :active {
    color: #246092;
}
    .dropdown-item:focus, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #e2c8a1;
}
}
@media (min-width:990px)
{
    .buscador2{
        display: none;
    }
    .buscador{
        display: block;
    }
    .logo-nav {
    max-width: 200px;
    position: absolute;
    top: 15px;
    left: 45%;
    }
}
    
                                                  /* 320 */

  @media (min-width: 319px) {

    .breadcrumb{
      font-size: 1.3em;
      border: #007ECF;
      background-color:#007ECF;
      margin-top: 0%;
      padding-left: 8%;
      font-weight: bold;
    }
    .btnon {
      color: white;
      background-color: #597aa6;
      border-radius: 20px;
      border-color:cornflowerblue;
      width: 150px;
      align-items: center;
      margin:0% 0% 0% 83px;
      margin-top: 10px;
      line-height: 49px;
      }
    #productosDestacados hr {
      border: 1px solid #eee;
      margin: 5px 0 15px 0;
    }
    #productosDestacados .container-productos .producto .fa-heart{
      font-size: 150%;
      color: red;
    }
    #productosDestacados .container-productos .producto .producto-hover {

      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      display: none;

    }
    #productosDestacados .container-productos .producto .producto-hover:hover {
      opacity: 1;
    }
    #productosDestacados .container-productos .producto .producto-hover .producto-hover-content {
      position: absolute;
      width: 100%;
      height: 50px;
      font-size: 40px;
      text-align: center;
      top: 42%;
      margin-top: -12px;
      color: white;
      padding: 0 20px;
    }
    #productosDestacados .container-productos .producto .producto-hover .producto-hover-content a{
      text-decoration: none;
    }
    #productosDestacados .container-productos .producto .producto-hover .producto-hover-content h5 {
      text-transform: uppercase;
      font-size: 1.6em;
      font-weight: 300;
      letter-spacing: 1px;
    }


    .fondo-banner a {
      margin: 25px 5px 0;
    }
    .container-productos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    #sobreNosotros2 p {
      padding: 30px 30px 10px;
      margin: 0 50px;
      font-size: larger;
    }

    #sobreNosotros p {
        font-size: 0.7em;
        padding: 5px 3px 2px;
        margin: 1px 1px 1px 1px;
        width: 69%;
    }

    #sobreNosotros img {
        width: 9vw;
        height: auto;
        margin: 8px 6px;
    }

    .botonventaA{
      display: block;
    }
    .celeste{
      display: flex;
      width: 90vw;  height:43vh;padding:5px 5px 5px 5px; margin:5px 5px 5px;
    }
    .info{
      display: flex;
     width:37vw; height:22vh;padding:5px 5px 5px 5px; margin:5px 5px 5px;
    }
    .celesteA{
      display: flex;
      width: 90vw;  height:44vh;padding:5px 5px 5px 5px; margin:11px 5px 5px;
    }
    .infoA{
      display: flex;
     width: 37vw; height:22vh;padding:5px 5px 5px 5px; margin:11px 5px 5px;
    }


  }



  /* MEDIAQUERIES */
  /* 375 */
  @media (min-width: 374px) {

    .breadcrumb{
      font-size: 1.3em;
      border: #007ECF;
      background-color:#007ECF;
      margin-top: 0%;
      padding-left: 10%;
      font-weight: bold;
    }
    .btnon {
      color: white;
      background-color: #597aa6;
      border-radius: 20px;
      border-color:cornflowerblue;
      width: 150px;
      align-items: center;
      margin:0% 0% 0% 115px;
      margin-top: 10px;
      line-height: 49px;
      }
    #productosDestacados hr {
      border: 1px solid #eee;
      margin: 5px 0 15px 0;
    }
    #productosDestacados .container-productos .producto .fa-heart{
      font-size: 150%;
      color: red;
    }
    #productosDestacados .container-productos .producto .producto-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      display: none;
    }
    #productosDestacados .container-productos .producto .producto-hover:hover {
      opacity: 1;
    }
    #productosDestacados .container-productos .producto .producto-hover .producto-hover-content {
      position: absolute;
      width: 100%;
      height: 50px;
      font-size: 40px;
      text-align: center;
      top: 20%;
      margin-top: -12px;
      color: white;
      padding: 0 20px;
    }
    #productosDestacados .container-productos .producto .producto-hover .producto-hover-content a{
      text-decoration: none;
    }
    #productosDestacados .container-productos .producto .producto-hover .producto-hover-content h5 {
      text-transform: uppercase;
      font-size: 1.6em;
      font-weight: 300;
      letter-spacing: 1px;
    }
    .fondo-banner a {
      margin: 25px 5px 0;
    }
    .container-productos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    #sobreNosotros2 p {
      padding: 30px 30px 10px;
      margin: 0 50px;
      font-size: larger;      ;
    }
    #sobreNosotros p {
          background-color: #e2efee;
        font-size: 0.7em;
        padding: 5px 3px 2px;
        margin: 1px 1px 1px 1px;
        width: 69%;
    }
    #sobreNosotros img {
        width: 11vw;
        height: auto;
        margin: 8px 6px;
    }

    .botonventaA{
      display: block;
    }
    .celeste{
      display: flex;
      width: 90vw;  height:43vh;padding:5px 5px 5px 5px; margin:5px 5px 5px;
    }
    .info{
      display: flex;
     width:37vw; height:22vh;padding:5px 5px 5px 5px; margin:5px 5px 5px;
    }
    .celesteA{
      display: flex;
      width: 90vw;  height:44vh;padding:5px 5px 5px 5px; margin:11px 5px 5px;
    }
    .infoA{
      display: flex;
     width: 37vw; height:22vh;padding:5px 5px 5px 5px; margin:11px 5px 5px;
    }

  }


  /* MEDIAQUERIES */
  /* 425 */
@media (min-width: 424px) {
  #sobreNosotros2 p {
    padding: 30px 30px 10px;
    margin: 0 50px;
    font-size: larger;
  }
  .breadcrumb{
    font-size: 1.4em;
    border: #007ECF;
    background-color:#007ECF;
    margin-top: 0%;
    font-weight: bold;
  }
  .btnon {
    color: white;
    background-color: #597aa6;
    border-radius: 20px;
    border-color:cornflowerblue;
    width: 150px;
    align-items: center;
    margin:0% 0% 0% 137px;
    margin-top: 10px;
    line-height: 49px;
    }

}

  /* MEDIAQUERIES */
/* 768 */
@media (min-width: 767px) {

  .breadcrumb{
    font-size: 1.5em;
    border: #007ECF;
    background-color:#007ECF;
    margin-top: 0%;
    padding-left: 10%;
    font-weight: bold;
  }
  .btnon {
    color: white;
    background-color: #597aa6;
    border-radius: 20px;
    border-color:cornflowerblue;
    width: 150px;
    align-items: center;
    margin:0% 0% 0% 265px;
    margin-top: 10px;
    line-height: 49px;
  }
  .fondo-banner {
    background-image: url("../img/fondo-index2.jpg");
    padding: 90px 0;
  }
  .fondo-banner h1, .fondo-banner h2 {
      font-size: 2em;
      margin: 0;
      line-height: 1.1;
      letter-spacing: 5px;
  }
  .fondo-banner .texto-banner p {
      font-size: 2.5em;
      margin-top: 70px;
  }
  .fondo-banner a {
      letter-spacing: 1px;
      margin-top: 25px;
      padding: 18px 24px;
  }
  .producto {
    width: 49%;
  }
  .fondo-banner h1, .fondo-banner h2  {
    font-size: 4em;
  }
  .fondo-banner p {
    font-size: 2.5em;
  }
  #sobreNosotros2 p {
    padding: 50px 30px 20px;
    margin: 10px auto;
    width: 60%;
  }
  #productosDestacados .container-productos .producto .producto-hover {
    display: block;
  }

/* sobre nos */
  #sobreNosotros p {
    background-color: #e2efee;
      font-size: 0.7em;
      padding: 5px 3px 2px;
      margin: 1px 1px 1px 1px;
      width: 69%;
  }
  #sobreNosotros img {
      width: 7vw;
      height: auto;
      margin: 8px 6px;
  }
  .botonventaA{
    display: flex;
  }
  .celeste{
    display: flex;
    width: 47vw;  height:43vh;padding:5px 5px 5px 5px; margin:5px 5px 5px;
  }
  .info{
    display: flex;
   width: 20vw; height:22vh;padding:5px 5px 5px 5px; margin:5px 5px 5px;
  }
  .celesteA{
    display: flex;
    width: 47vw;  height:43vh;padding:5px 5px 5px 5px; margin:5px 5px 5px;
  }
  .infoA{
    display: flex;
   width: 20vw; height:22vh;padding:5px 5px 5px 5px; margin:5px 5px 5px;
  }
}

/* MEDIAQUERIES */
/* 900 */
@media (min-width: 900px) {
  .breadcrumb{
    font-size: 2em;
    border: #007ECF;
    background-color:#007ECF;
    margin-top: 0%;
    font-weight: bold;
  }
  .producto {
    width: 33%;
  }


}


/* MEDIAQUERIES */
/* 1024 */
@media (min-width: 1023px){
  .breadcrumb{
    font-size: 1.7em;
    border: #007ECF;
    background-color:#007ECF;
    margin-top: 0%;
    padding-left: 18%;
    font-weight: bold;
  }
  .btnon {
    color: white;
    background-color: #597aa6;
    border-radius: 20px;
    border-color:cornflowerblue;
    width: 150px;
    align-items: center;
    margin:0% 0% 0% 380px;
    margin-top: 10px;
    line-height: 49px;
  }
  .card-deck{
    justify-content: space-around;
    place-self: flex-end;
  }
#sobreNosotros p {
    font-size: 0.7em;
    background-color: #e2efee;
    padding: 5px 3px 2px;
    margin: 1px 1px 1px 1px;
    width: 69%;
}
#sobreNosotros img {
  width: 5vw;
  height: auto;
  margin: 8px 26px;
}
.botonventaA{
  padding: 24px 9px 24px 9px;
  display: flex;
}
.celeste{
  display: flex;
  width: 47vw;  height:27vh;padding:5px 5px 5px 5px; margin:5px 11px 5px 5px;
}
.info{
  display: flex;
 width: 21vw; height:19vh;padding:5px 5px 5px 5px; margin:5px 5px 5px 5px;
}
.celesteA{
  display: flex;
  width: 47vw;  height:27vh;padding:5px 5px 5px 5px; margin:5px 5px 5px 11px;
}
.infoA{
  display: flex;
 width: 21vw; height:19vh;padding:5px 5px 5px 5px; margin:5px 5px 5px 5px;
}
.elh1{
  padding-top: 37px;
  color: white;
  margin: 0px 20px 5px 42px;
  font-size: 73px;
}
.elh3MP{
  padding-left: 67px;
  color: white;
}
#inf{
  height: 257px;
}

}

/* MEDIAQUERIES */
/* 1400 */
@media (min-width: 1399px) {
      .breadcrumb{
        font-size: 2.3em;
        border: #007ECF;
        background-color:#007ECF;
        margin-top: 2%;
        font-weight: bold;
      }
      .elh1{
        color: white;
        margin: 0px 20px 0px 59px;
        font-size: 85px;
      }
      .elh3MP{
        padding-left: 50px;
        font-size: 65px;
        color: white;
        padding-top: 20px;
      }
      #inf{
        height: 307px;
      }
}

/* MEDIAQUERIES */
/* 1440 */
@media (min-width: 1439px){
  .breadcrumb{
    font-size: 2em;
    border: #007ECF;
    background-color:#007ECF;
    margin-top: 0%;
    font-weight: bold;
  }
  .btnon {
      color: white;
      background-color: #597aa6;
      border-radius: 20px;
      border-color:cornflowerblue;
      width: 150px;
      align-items: center;
      margin:0% 0% 0% 470px;
      margin-top: 10px;
      line-height: 49px;
  }
  .card-deck{
    flex:auto;
  }
  #sobreNosotros img {
    width: 7vw;
    height: auto;
    margin: 8px 26px;
  }
  .celeste{
    display: flex;
    width: 47vw;  height:27vh;padding:5px 5px 5px 5px; margin:5px 11px 5px 5px;
  }
  .info{
    display: flex;
   width: 21vw; height:19vh;padding:5px 5px 5px 5px; margin:5px 5px 5px 5px;
  }
  .celesteA{
    display: flex;
    width: 47vw;  height:27vh;padding:5px 5px 5px 5px; margin:5px 5px 5px 11px;
  }
  .infoA{
    display: flex;
   width: 21vw; height:19vh;padding:5px 5px 5px 5px; margin:5px 5px 5px 5px;
  }
  #sobreNosotros p {
    font-size: 1.2em;
    background-color: #e2efee;
    padding: 1px 1px 1px;
    margin: 1px 1px 1px 1px;
    width: 69%;
  }
}

/* MEDIAQUERIES */
/* 32 pulgadas */
@media (min-width: 1919px){
  .btnon {
    color: white;
    background-color: #597aa6;
    border-radius: 20px;
    border-color:cornflowerblue;
    width: 150px;
    align-items: center;
    margin:0% 0% 0% 760px;
    margin-top: 10px;
    line-height: 49px;
  }
     .elh1{
      padding-left: 80px;
      color: white;
      margin: 0px 20px 0px 59px;
      font-size: px;
    }
    .elh3MP{
      padding-left: 130px;
      font-size: 65px;
      color: white;
      padding-top: 20px;
    }
    #inf{
      height: 467px;
    }
    .breadcrumb {
      padding-left: 28%;
      font-size: 2em;
      border: #007ECF;
      background-color: #007ECF;
      margin-top: 0%;
      font-weight: bold;
  }
}
