.reg {
  background-color: #ffffff;
  background-image: url("../img/fondo-registro.png");
  background-attachment: fixed;
  background-size: cover;
}
.reg h2{
  color: black;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}
.reg h4{
  color: #fff;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}
.reg .registro-caja{
    margin-top: 150px;
    margin-bottom: 100px;
}


.log {
  background-color: #ffffff;
  background-image: url("../img/fondo-login.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
  max-width: 100%;      
}
.log .login-caja{
    margin-top: 150px;
    margin-bottom: 100px;
}
.log h2{
  color: black;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}
.log h4{
  color: #fff;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}
.form-group {
  display: inline;
  font-family: 'Open Sans', sans-serif;
}
input {
	margin-bottom: 25px;
}
form button:hover {
	background-color: #fff;
	color: #000;
}

form.btn btn-outline-light {
  padding: 10%;
}

.login {
  max-width: 500px;
  margin: auto;
  text-align: left;
}
.login button {
  margin-top: 10px;
}
.login .form-check {
  margin-top: 20px;
}
.invalid-feedback {
  margin-top: -17px;
}

div.col-md-8 {
  margin: auto;
}

.btn-info {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px;
  margin-top: 30px;
  background-color: #d00a10;
  border-color: #d00a10;    
}
.btn-info:hover {
  background-color: #a50d11;
  border-color: #a50d11;    
}
.btn-link {
    color: #d00a10;
}
.btn-link:hover {
    color: #a50d11;
}
.ayu{
    background-color: #f3f5f7;
}
.ayu .ayu-caja{
    margin-top: 150px;
    margin-bottom: 100px;
}
.ayu h2{
  color: black;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}
.ayu h4{
  color: #fff;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}
.vermail {
  background-color: #e7f0f7;  
  height: 100vh;
}
.vermail .vermail-caja{
    margin-top: 150px;
    margin-bottom: 100px;
}
.vermail .vermail-caja .card{
    border: 4px solid #3B7590;
    padding: 50px;
    max-width: 700px;
    margin: auto;
}
.vermail h2{
  color: black;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}
.vermail h4{
  color: #3B7590;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  padding: 14px;
  text-transform: uppercase;
}

@media (max-width:767px)
{
    .reg .registro-caja {
        margin-top: 70px;
    }
    .reg .registro-caja .card {
        margin: 0px 15px;
    }
    .log .login-caja {
        margin-top: 70px;
    }
    .ayu .ayu-caja {
        margin-top: 70px;
    }
}
