* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
::-moz-selection {
  color: red;
  text-shadow: none;
  background: #64a19d;
}
::selection {
  color: #ffffff;
  text-shadow: none;
  background: #a50d11;
}


.container-fluid {
  padding: 0!important;
  position: relative;
}

.form-control {
    background-color: transparent !important;
    border: 1px solid #D1A158;

}

.input-group-text {
    background-color: transparent !important;
    border: 1px solid #D1A158;
}

.dropdown-item:focus, .dropdown-item:hover {
    text-decoration: none;
    background-color: rgb(56,182,255);
    color: #F7F1C4;
}


.list-group-item {
  margin: 1rem auto;
  position: relative;
  display: block;
  padding: .5rem 2rem;
  margin-bottom: -1px;
  background-color: #CDAF67;
  color: #fff;

}

.cantidad{
width:10%;

}
p {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  color: #3B7590;
  font-size: 16px;
}
a{
    color: #597aa6;
    text-decoration: none;
    list-style-type: none;

}
h2{
    font-family: 'Charm', cursive;
}



h1, h2, h3, h4, h5, h6 {
  font-family: ;
}
.btn-primary {
  background-color: #64a19d;
  border: none;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px;
  margin-top: 30px;
}
.btn-link {
  color: #64a19d;
}

/* Estilos del Nav */

.logo-nav {
    max-width: 200px;
    position: absolute;
    top: 15px;
    left: 15px;
}

nav{
  background: rgb(0,81,159);
  background: linear-gradient(90deg, rgba(0,81,159,1) 0%, rgba(71,166,240,1) 50%, rgba(0,81,159,1) 100%);
  z-index: 1000;
}
.navbar-toggler {
    padding-bottom: 15px;
    padding-top: 15px;
}







ul.nav {
    list-style: none;
}
ul.nav ul {
    list-style: none;
}

ion-icon {
    color: white;
    font-size: 2em;
    margin-right: 10px;
}

nav ul {

}



nav i{
  font-size: 1.5em;
  color: white;
}

nav ul li{
    padding-left: 0px;
    color: #D1A158
}

nav ul li a p {
  display: none;
}

img.foto{
  width: 45px;
  height: auto;
    padding-right: 10px;
}


.nav > li {

float:left;
}

.nav li a {
    text-decoration: none;
    list-style-type: none;
    color: #D1A158;
    display:flex;
    padding:10px 12px;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

.nav li a:hover {
    color: white;
}
.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}
.nav li:hover > ul {
    list-style-type: none;
    display:block;
}
.nav li ul li {
    position:relative;
    background-color: #fff;
}

.nav li ul li ul {
    list-style-type: none;
    margin-left: 210px;
    right:-140px;
    top:0;
}
.nav li .flecha{
    font-size: 9px;
    padding-left: 6px;
    display: none;
}
.nav li a:not(:last-child) .flecha {
    display: inline;
}


.enlace_desactivado {
    pointer-events: none!important;
    cursor: default!important;
}


.dropdown-menu{
  color: #0a5daa;
  min-width: 2rem;
  padding: 0.5rem;
}
.dropdown-item{
  color: #597aa6;

}
.dropdown-menu.show{
  display: inline-block;
}

.pagination{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  border-radius: .25rem;
  padding-right: 15px;
}
.page-item.active .page-link {
  background-color: #fff;
color: #597aa6;
  border: 2px solid #000;
  font-weight: 700;
}
.page-link {
color: #597aa6;
  font-family: 'Quicksand', sans serif;
}

footer {
    background: #D1A158;
    padding-top: 5px;
    text-align: center;
    bottom: 0;
}
footer .container {
    padding: 20px 0px 25px 0px;
}
footer .container p{
    color: #292E2C;
}
footer .footer-copyright {
    background-color: #346397;
    padding-top: 3px;
    padding-bottom: 3px;

}
footer .footer-copyright p {
    font-size: 0.8em;
    margin: 10px;
    color:  #F7F1C4;
}
footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}


footer h5 {
    font-size: 1.3em;

    margin-top: 15px;
    text-transform: uppercase;
}
footer a {
  color:  #F7F1C4;
  text-decoration: none;
  list-style-type: none;
}
footer a:hover, footer a:active {
    text-decoration: none;
    color: #F7F1C4;
}
footer h1 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}
footer .iconos-redes {
    display: inline;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

footer .iconos-redes a {
  font-size: 12px;
    color: #007ECF;
    padding: 5px;
    transition: 0.2s;
}
footer .iconos-redes a ion-icon
{
  font-size: 2.5em;
}

footer .iconos-redes a:hover {
    background-color: #fff;
    text-decoration: none;
    color: #64a19d;
}

footer .btn {
  background-color: #F7F1C4;
  color: #597aa6;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom:10%;
    line-height: 25px;
}


@media (max-width:767px)
{

  .navbar-collapse {
   background-color: #fff;
      padding-top: 50px;
  }

  .logo-nav {
    max-width: 120px;
  }
    .navbar {
        padding: 0px;
    }
    ion-icon {
    color: #308bd6;
}

}


.fondo-categorias{
    background-color: #f3f5f7;
}
.card {
    padding: 20px 10px;
}
.boton-subcat{
    padding: 15px 10px;
    background-color: #c5231f;
    text-decoration: none;
    border-radius: 0.5rem;
    margin: 0px 5px;
    
}
.boton-subcat h3{
    color: #fff;
    font-size: 18px;
}

.boton-subcat:focus, .boton-subcat:hover {
    text-decoration: none;
}
.boton-subcat img{
    max-width: 60px;
}
.caja-bt-cat{
    top:-70px;
    position: relative;
}



/* Productos */
h1.titulo-productos {
  color: black;
  font-size: 3em;
  margin: 20px 0 0 15px;
  font-weight: 300;
}
h1.titulo-productos strong {
  font-weight: 700;
}
h2.titulo-productos {
  color: #c5231f;
  font-size: 2.2em;
  border-top: 2px solid #cdaf67;
  border-bottom: 2px solid #cdaf67;
  font-weight: 400;
  width: 100%;
  height: auto;
  padding: 100px 0px 100px 0px;
  text-align: left;
  font-family: 'Headland One', serif;
  background-color: #fff;    
}
.card {
  /*border: none;*/
  text-align: center;
}
.card .titulo h4 {
  color: #CDAF67;
  font-family: 'Headland One', serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 10px;
}
.card .titulo h7 {
  color: #B81517;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0px;
}
.card .titulo a {
  margin: 10px auto;
  padding: 10px 24px;
  transition:0.2s background-color;
  text-decoration: none;
  display: block;
  width: 70%;
  background-color: #CDAF67;
}
.card .titulo a:hover, .card .titulo a:active {
  background-color:#B81517!important;
}
.card .titulo a h5 {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;
}
.card .titulo a h5:hover {
  color: #fff;
  font-weight: 700;
}
.card .titulo p {
  color: #6C6C6C;
  margin-bottom: 0px;
}
.card .card-producto {
  position: relative;
}
.card .card-producto .producto-hover {
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
.card .card-producto .producto-hover:hover {
  opacity: 0.7;
}
.card-producto .producto-hover .producto-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 45%;
  color: white;
}
.card-producto .producto-hover .producto-hover-content button {
  background-color: transparent;
  color: #fff;
  border: none;
}
.card-producto .producto-hover .producto-hover-content i.fas {
  font-size: 2em;
  color: #fff;
  padding: 0 15px;
}
.card-producto .producto-hover .producto-hover-content i.fas:hover {
  opacity: 0.5;
}

/* Producto Detalle */
form{
  text-align: center;
}
#titDetalle{
  color: #CDAF67;
  font-family: 'Headland One', serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 10px;
}
#detalle-producto {
  margin: 15px 0 40px 0;
}
#detalle-producto ul li {
  list-style: none;
  display: inline;
}
#detalle-producto ul li a {
  text-decoration: none;
  color: black;
}
#detalle-producto ul li a:hover {
  font-weight: 700;
}

#detalle-producto .tarjeta h1{
  color: black;
  font-size: 3em;
  margin: 10px 0;
  font-weight: 300;
}
#detalle-producto .tarjeta p {
  color: #6C6C6C;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 300;
}
#detalle-producto .tarjeta p span {
  color: #64a19d;
  font-weight: 700;
  text-transform: uppercase;
}
#detalle-producto .tarjeta p.precio {
  color: #6C6C6C;
  font-style: italic;
}
#detalle-producto .tarjeta button {
  color: white;
  border: 2px solid black;
  background-color:#346397!important;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 10px 24px;
  transition:0.2s ;

}
#detalle-producto .tarjeta button:hover, #detalle-producto .tarjeta button:active {
background-color:#346397!important;
  color: #fff;
  transform:translateY(2px);
  transform:translateX(2px);
}
#detalle-producto .tarjeta a {
  border: 2px solid black;
  background-color:#346397!important;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 10px 24px;
  transition:0.2s background-color;
}
#detalle-producto .tarjeta a:hover, #detalle-producto .tarjeta a:active {
  border: 2px solid black;
background-color:#346397!important;
  color: #000;
  transform:translateY(2px);
  transform:translateX(2px);
}


/* FAQS */
.fondo-preguntas {
  background-image: url("../img/fondo-preguntas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  padding: 50px 0 100px;
}
.preguntasF {
  text-align: center;
}
.preguntasF h3{
  color: #000;
  font-size: 1.9em;
  padding: 10px 0;
}
.preguntasF .card {
  margin: 0 auto 10px;
  max-width: 500px;
  border: none;
}
.preguntasF .card-header {
  background-color: #000;
}
.preguntasF .btn-link {
  color: #fff;
}
.preguntasF .btn-link:hover, .preguntasF .btn-link:active{
  text-decoration: none;
}
.preguntasF .card-body p {
  color: #000!important;
}



.offset-md-4 {
  margin: 0;
}
.text-md-right{
  text-align: center ! important;
}

form-check {
  padding: 1rem;
}
div.col-sm-6{
  margin: 0 auto;
}
.dropdown-menu {
  font-size: inherit;
}
